---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import RecipesDropdownMenu from '../components/RecipesDropdownMenu.astro';
const { title, ingredients, steps, image, recipes } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <title>{title}</title>
  </head>
  <body class="bg-gray-50 text-gray-800">
    <Header />
    <RecipesDropdownMenu recipes={recipes} />
    <div class="max-w-6xl mx-auto p-4 mt-20">
      <h1 class="text-4xl font-bold mb-6">{title}</h1>
      <div class="grid grid-cols-2 gap-4">
        <!-- 1st row split in 2 columns -->
        <!-- List of ingredients -->
        <ul class="col-span-1">
          <li class="text-2xl font-semibold text-pink-600">Ingredients</li>
          {ingredients.map((ingredient) => (
            <li class="text-gray-600">{ingredient}</li>
          ))}
        </ul>
        <!-- Image -->
        <img class="col-span-1" src={image} alt="Recipe" />
        <!-- 2nd row -->
        <!-- List of steps with summary -->
        <div class="col-span-2 mt-4">
          <p class="text-2xl font-semibold text-pink-600">Steps</p>
          <ol class="list-decimal list-inside">
            {steps.map((step) => (
              <li class="text-gray-600">{step}</li>
            ))}
          </ol>
        </div>  
      </div>
      <slot />
    </div>
    <Footer />
  </body>
</html>
