---
import RecipesLayout from '../../layouts/RecipesLayout.astro';
import { recipes } from '../../data/recipes';

export async function getStaticPaths() {
  return recipes.map((recipe) => ({
    params: { slug: recipe.slug },
    props: { recipe },
  }));
}

const { recipe } = Astro.props;
---

<RecipesLayout title={recipe.title} ingredients={recipe.ingredients} steps={recipe.steps} image={recipe.image} recipes={recipes}>
  <p class="text-lg text-gray-700">{recipe.description}</p>
</RecipesLayout>